* {
  margin: 0;
  padding: 0;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
  float: right;
  width: 100px;
  height: 50px;
  margin-bottom: 40px;
  
}

ul li a {
  font-size: 14px;
  width: 150px;
  line-height: 5px;
}

.logo {
  background-image: https://www.shutterstock.com/image-photo/hand-arranging-wood-block-healthcare-600w-1561815367.jpg;
  width: 250px;
  height:150px;
}